name: pl-hw1
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - jupyterlab
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pip:
      - lightning>=2.2.0
      - optuna>=3.6.0
      - wandb>=0.17.0
