name: pl-hw2
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  - python=3.11
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - jupyterlab
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pip:
      - lightning>=2.2.0
      - bentoml>=1.2.0
      - requests>=2.31.0
